
<body bgcolor="#E6E6FA">

	<center><h1>USER DETAILS</h1></center>



	<table align="center" , bgcolor="BEC6D3" , width="400" >
			<th>User Details </th>
			<tr><td height="35">Full name   </td><td height="35"><%= @h%></td> </tr>
			<tr><td height="35">Email id      </td><td height="35"> <%= @c%></td></tr> 
			<tr><td height="35">Age           </td><td height="35"> <%= @d%></td></tr>
			<tr><td height="35">Gender        </td><td height="35"> <%= @e%></td></tr> 
			<tr><td height="35">Phone number  </td><td height="35"> <%= @f%></td></tr> 
			<tr><td height="35">Address      </td><td height="35">  <%= @g%></td></tr>
			<tr><td height="35">Hobbies      </td><td height="35">  <%= @k%></td></tr>
	</table> 

	<center><h1>Number of Hobbies are :<%= @j %></h1></center>
	
	<%= @l%>


	<table align="center" style = "padding-top:90px ,padding-left: 100px" >
	
			<tr><td><i>copyrights reserved  @</i></td><td></td></tr>
			<tr><td></td><td><b>trinadh</b></td></tr>
	</table>

</body>