<!DOCTYPE html>
<html>
  <head>
  		<center><h1>JAWAHARLAL NEHRU TECHNOLOGICAL UNIVERSITY , KAKINADA</h1></center>
  		<table align="center" , border="1"  ><tr><td>

<%= link_to '<button type="button">Signup</button>'.html_safe,student_signup_path  %>

<%= link_to '<button type="button">user_details</button>'.html_safe,student_login_path %>

<%= link_to '<button type="button">Library</button>'.html_safe,student_library_path %>


<%= link_to '<button type="button">Sports</button>'.html_safe, student_sports_path %>


</td></tr></table>





    <title>College</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
